.game-area{
  position: relative;
  margin: 3rem auto;
  width: 500px;
  height: 500px;
  border: 2px solid black
}

.snake-body{
  position: absolute;
  width: 2%;
  height: 2%;
  background-color: darkgreen;
  border: 1px dashed lightgreen;
  z-index: 2;
}

.snake-food{
  position: absolute;
  width: 2%;
  height: 2%;
  background-color: purple;
  border: 1px solid red;
  z-index: 1;
}